body {
  background-color: #5e85c5;
}

header {
  background-color: #5e85c5;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -18px;
  border-radius: 5px;
  color: white;
}

footer {
  background: grey;
  color: white;
  font-variant: small-caps;
  font-size: 12px;
  text-align: center;
  clear: left;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {color: red;}

.cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.portrait {
  max-width: 100%;
  border-radius: 20px;
  float: left;
  margin-bottom: 10px;
  border: 4px solid #bbd1e8;
}

.bio { 
 font-family: sans-serif;
 background-color: #bbd1e8;
 border-radius: 20px;
 padding-left: 5 px;
 padding-right: 10 px; 
}

.caesar {
max-width: 100%;
float: left;
}

.maintext {
padding: 10px;

}

.circle {
  border-radius: 50%;
  background-color: #bbd1e8;
  width: 10px;
  height: 10px;  
  clear: left;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #5e85c5;
}



