body {
  background-color: #5e85c5;
}

header {
  background-color: #bbd1e8;;
  text-align: center;
  font-size: large;
  font-family: sans-serif;
  color: white;
  border-radius: 20px;
}

img {
  max-width: 100%;
  border-radius: 20px;
  float: left;
  margin-bottom: 10px;
}

p { 
 font-family: sans-serif;
 background-color: #bbd1e8;
 border-radius: 20px;
 padding-left: 5 px;
 padding-right: 10 px; 
}

footer {
  background: grey;
  color: white;
  font-variant: small-caps;
  font-size: 12px;
  text-align: center;
  clear: left;
}

.caesar {
max-width: 100%;
float: left;
}



